body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff4e6;
  }

  #clock{
    position: absolute;
    top: 30px;
    left: 80px;
    color: #ff9900;
    font-size: 24px;
  }

.header {
  margin: 0 auto;
  width: 1200px;
  padding-bottom: 20px;
}

.logo {
  width: 100%;
  height: auto;
}

.nav {
  margin-top: -5px;
  background-color: #ff9900;
  padding: 10px 0;
  border-radius: 8px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;

}

.wrap {
  display: flex;
  justify-content: center;
}

.nav-li {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-li li {
  margin: 0 5px;
  color: white;
  font-weight: bold;
}

a{
  text-decoration: none;
  color: white;
}

a:hover{
  color: black;
}

.nav-li li span {
  margin-left: 9px;
  color: white;
}

.container {
  position: relative;
  display: grid;
  margin: 0 auto;
  width: 1200px;
  grid-template-columns: 300px 400px 500px;
}

.left-section {
  width: 100%;
  background-color: #ff9900;
  justify-content: center;
  align-content: center;
  border-radius: 8px;
  height: 980px;
}

.notice{
  width: 300px;
  justify-items: center;
}
.notice-ul{
  background-color: #f0f0f0;
  padding-top: 20px;
  padding-bottom: 40px;
}

.notice-ul li{
  padding-bottom: 16px;
}

.notice a{
  color: black;
}

.notice a:hover{
  color: rgb(2, 196, 2)
}


.notice-h3{
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 0.7px 3px #f0f0f0;
}

.notice svg{
  color: grey;
  width: 18px;
  position: absolute;
  top: 270px;
  left: 250px;
}

.notice .svg1{
  color: red;
  width: 22px;
  position: absolute;
  top: 21px;
  left: 80px;
}

.notice p{
  color: grey;
  font-size: 14px;
  position: absolute;
  top: 256px;
  left: 216px;
}

.quickroad{
  display: grid;
  justify-content: center;

}

.quickroad-h3{
  text-align: center;
  letter-spacing: 2px;
  text-shadow: 1px 0.7px 3px #f0f0f0;
  padding-bottom: 60px;
}

.quickroad img{
  padding-bottom: 25px;
  width: 270px;
  height: auto;
}

.middle img{
  padding-left: 20px;
  width: 370px;
  height: auto;
}

.news{
  display: grid;
  border: grey solid 0.5px;
  height: 276.3px;
}

.news h3{
  margin-top: 0px;
  padding-bottom: -3px;
  background-color: rgb(149, 222, 40);
  border-radius: 100px;
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
  border-bottom-left-radius: 0%;
  width: 100px;
  color: white;
}
.news span{
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 2px;
  color: #ff9900;
}

.news p{
  width: 450px;
  padding-left: 23px;
  text-indent: 4em;
  margin-bottom: -1px;
}

.news span2{
  color: #ff9900;
}
.news li{
  padding-bottom: 10px;
}

.activities{

  /* background-color: rebeccapurple; */
  position: absolute;
  width: 880px;
  top: 300px;
  left: 320px;
}
.activities h3{
    margin-top: 0px;
    padding-bottom: -3px;
    background-color: rgb(149, 222, 40);
    border-radius: 100px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    width: 100px;
    color: white;
  }
/* 轮播图部分 */
  .outer{
    width: 895px;
    height: 350px;
    overflow: hidden;
    position: relative;
    margin-top:-18.2px ;
  }
  .inner{
    height: 100%;
    width: 100%;
    background-color: pink;
    position: relative;
    display: flex;
    /* 过度动画1秒 */
    transition: all 1s; 
  }

  .inner img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    object-fit: cover;
  }

   .shift .btn{
    background-color: #ff9900;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    font-size: 40px;
    font-weight: bold;
    
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }
  .left{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 10px;
    margin: auto 0;
    border: 0;
  }
  .right{
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 820px;
    margin: auto 0;
    border: 0;
  }
  .bottom{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 350px;
    border: 0;
  }
  .bottom .indicator{
    height: 5px;
    width: 40px;
    background-color: #ff9900;
    cursor: pointer;
  }

  .teach{
    border: grey solid 0.5px;

    position: absolute;
    top: 690px;
    left: 320px;
    width: 440px;
    height: 290px;
  }
  .teach h3{
    margin-top: 0px;
    padding-bottom: -3px;
    background-color: rgb(149, 222, 40);
    border-radius: 100px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    width: 100px;
    color: white;
  }

  .teach-ul li{
    padding-bottom: 10px;
  }

  .classActive{
    border: grey solid 0.5px;
    position: absolute;
    top: 690px;
    left: 770px;
    width: 450px;
    height: 290px;
  }

  .classActive h3{
    margin-top: 0px;
    padding-bottom: -3px;
    background-color: rgb(149, 222, 40);
    border-radius: 100px;
    border-top-left-radius: 0%;
    border-top-right-radius: 0%;
    border-bottom-left-radius: 0%;
    width: 100px;
    color: white;
  }
  .classActive-detail{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    row-gap: 17px;
    margin: 25px 10px;
  }
  .classActive-detail button{
  padding: 5px 3px;
    background-color: #ff9900;
    border: none;
    border-radius: 2px;
    position: relative;
  }
  .classActive-detail .svg1{
    color: red;
    z-index: 1;
    width: 20px;
    position: absolute;
    top: 53px;
    left: 88px;
  }
  .classActive-detail .svg2{
    color: red;
    z-index: 1;
    width: 20px;
    position: absolute;
    top: 96px;
    left: 417px;
  }
  .classActive-detail .svg3{
    color: red;
    z-index: 1;
    width: 20px;
    position: absolute;
    top: 141px;
    left: 307px;
  }

  footer{
    padding-top: 10px;
    margin: 0 auto;
    width: 1200px;
  }
  footer img{
    width: 1220px;
    height: auto;
  }
  footer div{
    margin-top: -20px;
    padding: 10px 10px;
    width: 1200px;
    background-color: green;
  }
  footer p{
    color: white;
    text-align: center;
  }

  /* 响应式设计 */
  /* 适用于屏幕宽度不超过768像素的设备（例如大多数平板电脑和小屏幕的笔记本电脑） */
  @media (max-width: 768px) {
    .nav .wrap {
        flex-direction: column;
    }

    .container {
        flex-direction: column;
    }

    .nav-li {
        flex-direction: column;
    }

    .nav-li li {
        margin: 5px 0;
    }
}
/* 这部分样式适用于屏幕宽度不超过480像素的设备（例如大多数智能手机）。 */
@media (max-width: 480px) {
    .logo {
        width: 100%;
    }

    .nav .wrap {
        padding: 5px 0;
    }

    .container {
        padding: 10px;
    }
}

/* gardenIntroduction css */
.right-section{
  border: black solid 1px;
  width: 880px;
  height: 1070px;
  margin-left: 20px;
}

.topgrey{
  background-color: #e9ecef;
  width: 880px;
  height: 25px;
}


.detail{
  margin: 0 auto;
  width: 820px;
  height: 900px;
  text-align: center;
}

.title{
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1.5px;
  margin-bottom: -10px;
}

.detail img{
  width: 400px;
}

.text{
  font-size: 16px;
  text-indent: 2em;
  text-align: left;
}

.date{
  color: #a2a3a4;
  font-size: 12px;
  padding-bottom: 20px;
}

.contant a{
  color: black;
  position: absolute;
  top: 60px;
  right: 50px;
}
.contant a:hover{
  color: rgb(3, 190, 3);
}
.detail svg{
  color: red;
  width: 20px;
  position: absolute;
  top: 60px;
  right: 190px;
}

.contant ul{
  margin-top: 60px;
}
.tel{
  background-color: palegoldenrod;
  border-radius: 12px;
  margin-top: 40px;
  width: 350px;
  height: 250px;
  text-align: center;
}

.tel img{
  width: 80px;
  padding-top: 10px;
}

.message img{
  width: 80px;
  padding-top: 10px;
}

.message{
  background-color: pink;
  text-align: center;
  position: absolute;
  border-radius: 12px;
  top: 140px;
  right: 80px;
  margin-top: 40px;
  width: 350px;
  height: 250px;
}

.message p{
  margin-bottom: -2px;
}
.big{
  font-size: 18px;
  font-weight: bold;
}
.contant li{
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.contant span{
  font-size: 18px;
  color: #a2a3a4;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.clean{
  margin-top: 60px;
}

.lion{
  margin-top: 40px;
  background-color: white;
  border-radius: 12px;
  width:770px;
  height: 300px;
}
.lion img{
  width: 300px;
  position: absolute;
  top: 630px;
}

.lion-detail{
  position: absolute;
  top: 620px;
  right: 100px;
  width: 400px;
  height: 250px;
}

.lion-detail span1{
  color: #ff9900;
}
.lion-detail .big{
  margin-top: 20px;
}
.right-section{
  width: 750px;float:left;overflow:auto;
}
.r_s_h{
  float:left;font: size 24px;font-weight:normal;margin-top:-25px\9;padding-right:10px;
}
.r_s_1{
  border:1px solid #cfcfcf;border-top:0px;padding:15px;margin-bottom:10px;display:block;float:left;width:648px;
}
ul{
  list-style: none;  
  padding-left: 0;  
}
.r_s_p{
  font-size:12px;
  text-align: center;
  color: black;
}
.table {
  font-size: 18px;
} 
a{
  color: black;
}
a:hover {  
  color: red;
}
.btn{
  width: auto;
  height: auto;
  position:absolute;
  top:900px;
  left:530px;
}

.little{
  background-color: gainsboro;
  width: 880px;
  height:35px;
  position: relative;
  border: solid;
  border-color: darkgray;
  font-weight: 800; 
}